<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<form name="f" method="post" action="/process_login">
    <!--3десь 3ащита от csrf угро3ы. в hidden-е она будет скрытой-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="username">Введите имя поль3ователя </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Введите пароль </label>
    <input type="password" name="password" id="password"/>
    <br/>
    <input type="submit" value="Login"/>

    <div th:if="${param.error}" style="color: red" >Введены неправильные данные</div>
</form>

<br/><br/>
<a href="/auth/regis">Зарегестрироваться</a>

</body>
</html>