<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информация о книге</title>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor()  + ', ' + book.getYear()}">VALUE</p>

<hr/>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>

    <br/>
    <br/>
    <hr/>
</div>

<div th:if="${students}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="student">Выберите человека</label>
        <select th:object="${student}" th:field="*{id}" id="student">
            <option th:each="student : ${students}" th:value="${student.getId()}" th:text="${student.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>

    <br/>
    <br/>
    <hr/>
</div>


<form th:method="GET" th:action="@{/books/{id}/update(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<br/><br/>
<a href="/books">Назад</a>

</body>
</html>